{% extends "layout.html" %}
{% block body %}
<div>
  <form action="{{ url_for('query_handle') }}" method="get">
    <p>Enter a TopCoder handle: <input type="text" size="30" name="handle"></p>
  </form>
  <p>Coder id for {{ handle }} is {{ cid }}. Number of matches: {{ len_rounds }}.</p>
  <ul>
  {% for round in rounds %}
    <li>{{ round }}</li>
  {% else %}
    <li>None.</li>
  {% endfor %}
  </ul>
  <h2>PvPetr</h2>
  {% for wl in pvpetr %}
  <ul>
  {% for problem in wl %}
    <li>{{ problem }}</li>
  {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock %}
